<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Matricula</title>
</head>
<body>
    <div class="aluno-update">
        <div class="aluno-update-content">
            <header class="modal-header">
                <img src="/img/carro.png" class="modal-img" alt="">
                <h2>Editar Mensalista</h2>
            </header>
            <form action="/mensalista/{{mensalista.id}}" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Nome" type="text" name="nome" value="{{cliente.nome}}" required/> 
                <input class="modal-field" placeholder="CPF" type="text" name="cpf" value="{{mensalista.cpf}}" required/> 
                <input class="modal-field" placeholder="Telefone" type="text" name="telefone" value="{{mensalista.telefone}}" required/>
                <input class="modal-field" placeholder="Email" type="email" name="email" value="{{mensalista.email}}" required/>
                <input class="modal-field" placeholder="Dia do Vencimento" type="text" name="diavencimento" value="{{mensalista.diaVencimento}}" required/>
                <input class="modal-field" placeholder="Data da Admissão" type="date" name="dataadmissao" step="2" value="{{mensalista.dataAdmissao}}" required/>
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <a class="update-link" href="/mensalista"><button type="button" class="button green">Voltar</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>  
</body>
</html>

    

