<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Matricula</title>
</head>
<body>
    <div class="aluno-update">
        <div class="aluno-update-content">
            <header class="modal-header">
                <img src="/img/carro.png" class="modal-img" alt="">
                <h2>Editar Rotativo</h2>
            </header>
            <form action="/{{rotativo.id}}" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Nome" type="text" name="nome" value="{{cliente.nome}}" required/> 
                <input class="modal-field" placeholder="Marca" type="text" name="marca" value="{{veiculo.marca}}" required/> 
                <input class="modal-field" placeholder="Modelo" type="text" name="modelo" value="{{veiculo.modelo}}" required/>
                <input class="modal-field" placeholder="Placa" type="text" name="placa" value="{{veiculo.placa}}" required/>
                <input class="modal-field" placeholder="Cor" type="text" name="cor" value="{{veiculo.cor}}" required/>
                <input class="modal-field" placeholder="Hora Entrada" type="time" name="horaentrada" step="2" value="{{rotativo.horaEntrada}}" required/>
                <input class="modal-field" placeholder="Hora Entrada" type="date" name="dataatendimento" step="2" value="{{rotativo.dataAtendimento}}" required/>
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <a class="update-link" href="/"><button type="button" class="button green">Voltar</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/main.js"></script>  
</body>
</html>

    

