<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotativos</title>
</head>
<body class="layout">
    <header class="header-main">

      <nav>
        <div class="logo">
          <img src="/img/logo.png" alt="">
          <h1>Bem vindo(a), {{user.login}}</h1>
        </div>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li class="button-sair"><img src="/img/user-logo.png" alt=""><a class="button-nav" href="/logout">Sair</a></li>
        </ul>
      </nav>

    </header>

    <aside class="aside-main">

        <nav>
            <ul>
                <li><img src="/img/mensalista.png" alt=""><a href="/mensalistas">Mensalistas</a></li>
                <li><img src="/img/rotativos.png" alt=""><a href="/rotativos">Rotativos</a></li>
                <li><img src="/img/vaga.png" alt=""><a href="/vagas">Vagas</a></li>
                {{#if user.admin}}
                    <li><img src="/img/users.png" alt=""><a href="/users">Usuários</a></li>
                {{/if}}
            </ul>
        </nav>
    </aside>

    <div class="modal" id="modalAluno">
        <div class="modal-content">
            <header class="modal-header">
                <img src="/img/rotativo.png" class="modal-img" alt="">
                <h2 style="font-weight: bold;">Novo Rotativo</h2>
            </header>
            <form action="/rotativos" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Nome" type="text" name="nome" required/> 
                <input class="modal-field" placeholder="Marca" type="text" name="marca" required/> 
                <input class="modal-field" placeholder="Modelo" type="text" name="modelo"required/>
                <input class="modal-field" placeholder="Placa" type="text" name="placa" required/>
                <input class="modal-field" placeholder="Cor" type="text" name="cor"required/>
                <div class="select-vagas-container">
                    <p>Vaga Disponíveis</p>
                    <select name="vagas" id="select">
                        {{#each vagas}}
                            <option value="{{id}}">{{id}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <button class="button green" id="cadClose" onclick="ModalAluno()" type="button">Fechar</button>
                </div>
            </form>
        </div>
    </div>

    <main class="main">

    <div class="main-group">
        <button onclick="ModalAluno()"><img src="/img/add.png" alt=""> Adicionar Novo Rotativo</button>
        <input id="searchbar" placeholder="Buscar..."/>
    </div> 

    <div class="tables-container">
        <table id="tabela" class="tables-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Cor</th>
                    <th>Data</th>
                    <th>Horário de Entrada</th>
                    <th>Vaga</th>
                    <th colspan="2">Opções</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}} 
                <tr>
                    <td>{{nome}}</td>
                    <td>{{marca}}</td>
                    <td>{{modelo}}</td>
                    <td>{{placa}}</td>
                    <td>{{cor}}</td>
                    <td>{{dataatendimento}}</td>
                    <td>{{horaentrada}}</td>
                    <td>{{idVaga}}</td>
                    <td class="td-button">
                        <a href="/rotativos/{{id}}"><button><img src="/img/pencil.png" alt=""></button></a> 
                    </td>

                    <td class="td-button">
                        <a href="/rotativos/finalizar/{{id}}"><button><img src="/img/checkb.png" alt=""></button></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    </main>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/js/main.js"></script>    
</body>
</html>



