<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotativo</title>
</head>
<body class="layout">
    <header class="header-main">
      <nav>
        <div class="logo">
          <img src="/img/logo.png" alt="">
          <h1>Bem vindo(a), {{user.login}}</h1>
        </div>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li class="button-sair"><img src="/img/user-logo.png" alt=""><a class="button-nav" href="/logout">Sair</a></li>
        </ul>
      </nav>

    </header>

    <aside class="aside-main">

        <nav>
            <ul>
                <li><img src="/img/mensalista.png" alt=""><a href="/mensalistas">Mensalistas</a></li>
                <li><img src="/img/rotativos.png" alt=""><a href="/rotativos">Rotativos</a></li>
                <li><img src="/img/vaga.png" alt=""><a href="/vagas">Vagas</a></li>
                {{#if user.admin}}
                    <li><img src="/img/users.png" alt=""><a href="/users">Usuários</a></li>
                {{/if}}
            </ul>
        </nav>
    </aside>
    <main class="main">
        <div class="box-update">
            <form action="/rotativos/{{rotativo.id}}" method="POST">
                <header>
                    <h2>Editar Rotativo</h2>
                </header>
                <div>
                    <label for="nome">Nome: </label><br>
                    <input placeholder="Nome" type="text" name="nome" value="{{cliente.nome}}" required/>
                </div>           

                <div class="input-container">
                    <div>
                        <label for="nome">Marca: </label><br>
                        <input placeholder="Marca" type="text" name="marca" value="{{veiculo.marca}}" required/> 
                    </div> 

                    <div>
                        <label for="nome">Cor: </label><br>
                        <input placeholder="Cor" type="text" name="cor" value="{{veiculo.cor}}" required/>
                    </div>
                </div>


                <div class="input-container">
                    <div>
                        <label for="nome">Modelo: </label><br>
                        <input placeholder="Modelo" type="text" name="modelo" value="{{veiculo.modelo}}" required/>
                    </div>
                    
                    <div>
                        <label for="nome">Placa: </label><br>
                        <input placeholder="Placa" type="text" name="placa" value="{{veiculo.placa}}" required/>
                    </div>
                </div>


                <div class="input-container">
                <div>
                    <label for="nome">Hora Entrada: </label>
                    <input style="width: 155px;" placeholder="Hora Entrada" type="time" name="horaentrada" step="2" value="{{rotativo.horaEntrada}}" required/>
                </div>
                
                <div>
                    <label for="nome">Data: </label>
                    <input style="width: 155px;" placeholder="Hora Entrada" type="date" name="dataatendimento" step="2" value="{{rotativo.dataAtendimento}}" required/>
                </div>
                </div>

                
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <a class="update-link" href="/rotativos"><button type="button" class="button green">Voltar</button></a>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/main.js"></script>  
</body>
</html>

    

