<%- include('../includes/head'); %>

<body class="layout">
    <%- include('../includes/header'); %>
    <%- include('../includes/aside'); %> 

    <div class="modal" id="modalAluno">
        <div class="modal-content">
            <header class="modal-header">
                <img src="/assets/img/rotativo.png" class="modal-img" alt="">
                <h2 style="font-weight: bold;">Novo Rotativo</h2>
            </header>
            <form action="/rotativos" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Nome" type="text" name="nome" required/> 
                <input class="modal-field" placeholder="Marca" type="text" name="marca" required/> 
                <input class="modal-field" placeholder="Modelo" type="text" name="modelo"required/>
                <input class="modal-field" placeholder="Placa" type="text" name="placa" required/>
                <input class="modal-field" placeholder="Cor" type="text" name="cor"required/>
                <div class="select-vagas-container">
                    <p>Vaga Disponíveis</p>
                    <select name="vagas" id="select">
                        <% vagas.forEach(vaga => { %>
                            <option value="<%= vaga.id %> "> <%= vaga.id %> </option>
                        <% }) %>
                    </select>
                </div>

                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <button class="button green" id="cadClose" onclick="ModalAluno()" type="button">Fechar</button>
                </div>
            </form>
        </div>
    </div>

    <main class="main">

    <div class="main-group">
        <button onclick="ModalAluno()"><img src="/assets/img/add.png" alt=""> Adicionar Novo Rotativo</button>
        <input id="searchbar" placeholder="Buscar..."/>
    </div> 

    <div class="section-table">
        <div class="tables-container">
            <table id="tabela" class="tables-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Cor</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Vaga</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(rotativo => { %>
                        <tr>
                            <td><%= rotativo.id %></td>
                            <td><%= rotativo.nome %></td>
                            <td><%= rotativo.marca %></td>
                            <td><%= rotativo.modelo %></td>
                            <td><%= rotativo.placa %></td>
                            <td><%= rotativo.cor %></td>
                            <td><%= rotativo.dataatendimento %></td>
                            <td><%= rotativo.horaentrada %></td>
                            <td><%= rotativo.idVaga %></td>
                            <td class="td-button">
                                <a href="/rotativos/<%= rotativo.id %>"><button><img src="/assets/img/pencil.png" alt=""></button></a> 
                            </td>
    
                            <td class="td-button">
                                <a href="/rotativos/finalizar/<%= rotativo.id %>"><button><img src="/assets/img/check.png" alt=""></button></a>
                            </td>
                        </tr>   
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    </main>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/assets/js/main.js"></script> 
    <%- include('../includes/scripts'); %>
</body>
</html>



