<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Matricula</title>
</head>
<body class="layout">
        <header class="header-main">

      <nav>
        <div class="logo">
          <img src="/img/logo.png" alt="">
          <h1>Bem vindo(a), {{user.login}}</h1>
        </div>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li class="button-sair"><img src="/img/user-logo.png" alt=""><a class="button-nav" href="/logout">Sair</a></li>
        </ul>
      </nav>
    </header>

    <aside class="aside-main">
        <nav>
            <ul>
                <li><img src="/img/mensalista.png" alt=""><a href="/mensalistas">Mensalistas</a></li>
                <li><img src="/img/rotativos.png" alt=""><a href="/rotativos">Rotativos</a></li>
                <li><img src="/img/vaga.png" alt=""><a href="/vagas">Vagas</a></li>
                {{#if user.admin}}
                    <li><img src="/img/users.png" alt=""><a href="/users">Usuários</a></li>
                {{/if}}
            </ul>
        </nav>
    </aside>

    <main class="main">
        <div class="box-update">
            <form action="/mensalistas/{{mensalista.id}}" method="POST">
                <header>
                    <img style="filter: invert(1); width: 30px; margin-right: 5px;" src="/img/mensalista.png" alt="">
                    <h2>Editar Mensalista</h2>
                </header>

                <div class="input-container">
                    <div>
                        <div>
                            <label for="nome">Nome: </label>
                            <input placeholder="Nome" type="text" name="nome" value="{{cliente.nome}}" required/> 
                        </div>
                        <div>
                            <label for="cpf">CPF: </label>
                            <input placeholder="CPF" type="text" name="cpf" value="{{mensalista.cpf}}" required/> 
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="telefone">Telefone: </label>
                            <input placeholder="Telefone" type="text" name="telefone" value="{{mensalista.telefone}}" required/>
                        </div>
                        <div>
                            <label for="email">Email: </label>
                            <input placeholder="Email" type="email" name="email" value="{{mensalista.email}}" required/>
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <div>
                        <div class="datetime">
                            <label for="diavencimento">Dia Vencimento: </label>
                            <input placeholder="Dia Vencimento" type="text" name="diavencimento" value="{{mensalista.diaVencimento}}" required/>
                        </div>

                        <div class="datetime">
                            <label for="dataatendimento">Data Admissão: </label>
                            <input placeholder="Data Admissão" type="date" name="dataatendimento" step="2" value="{{mensalista.dataAdmissao}}" required/>
                        </div>
                    </div>
                </div>

                
                <div class="select-vagas-container">
                    <p>Vaga Disponíveis</p>
                    <select name="vagas" id="select">
                        {{#each vagas}}
                            <option value="{{id}}">{{id}}</option>
                        {{/each}}
                    </select>
                </div>
                
                
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <a class="update-link" href="/mensalistas"><button type="button" class="button green">Voltar</button></a>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/main.js"></script>  
</body>
</html>

    

