<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body class="layout">
   <header class="header-main">
      <nav>
        <div class="logo">
          <img src="/img/logotipo.png" alt="">
          <h1>Bem vindo(a), {{user.login}}</h1>
        </div>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li class="button-sair"><img src="/img/user-logo.png" alt=""><a class="button-nav" href="/logout">Sair</a></li>
        </ul>
      </nav>
    </header>

    <aside class="aside-main">
        <nav>
            <ul>
                <li><img src="/img/mensalista.png" alt=""><a href="/mensalistas">Mensalistas</a></li>
                <li><img src="/img/rotativos.png" alt=""><a href="/rotativos">Rotativos</a></li>
                <li><img src="/img/vaga.png" alt=""><a href="/vagas">Vagas</a></li>
                {{#if user.admin}}
                    <li><img src="/img/users.png" alt=""><a href="/users">Usuários</a></li>
                {{/if}}
            </ul>
        </nav>
    </aside>

    <div class="modal" id="modalUser">
        <div class="modal-content">
            <header class="modal-header">
                <img src="/img/caduser.png" class="modal-img" alt="">
                <h2>Novo Usuário</h2>
            </header>
            <form action="/users" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Login" type="text" name="login"required/> 
                <input class="modal-field" placeholder="Email" type="email" name="email" required/>
                <input class="modal-field" placeholder="Senha" type="password" name="senha" required/>
                <input class="modal-field" placeholder="Confirmação de Senha" type="password" name="confirm"required/>
                <div class="caduser-boxinput">
                    <label class="modal-label" for="admin">Admin</label>
                    <input class="modal-checkbox" value="true" name="admin" id="admin" type="checkbox">
                </div>
                    
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <button class="button green" id="caduserClose" onclick="ModalUser()" type="button">Fechar</button>
                </div>
            </form>
        </div>
    </div>

   <main class="main">

    <div class="main-group">
        <button onclick="ModalUser()"><img src="/img/add.png" alt=""> Adicionar Novo Usuário</button>
        <input id="searchbar" placeholder="Buscar..."/>
    </div>

    
    <div class="tables-container">
        <table id="tabela" class="tables-table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Admin</th>
                    <th>Nome de Usuário</th>
                    <th >Email</th>
                    <th colspan="2">Opções</th>
                </tr>
            </thead>
            
            <tbody>
                {{#each posts}}
                    <tr>
                        <td>{{id}}</td>
                        {{#if admin}}
                        <td>
                            Sim
                        </td>
                        {{else}}
                        <td>
                            Não
                        </td>
                        {{/if}}
                        <td>{{login}}</td>
                        <td>{{email}}</td>
                        <td class="td-button">
                            <a href="/users/permissao/{{id}}"><button><img src="/img/admin.png" alt=""></button></a> 
                        </td>

                        <td class="td-button">
                            <a href="/users/finalizar/{{id}}"><button><img src="/img/check.png" alt=""></button></a>
                        </td>
                    </tr>			
                {{/each}}
            </tbody>
        </table>                
    </div>
    </main>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/js/main.js"></script>  
</body>
</html>




