<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
</head>
<body class="layout">
   <header class="header-main">
      <nav>
        <div class="logo">
          <img src="/img/logotipo.png" alt="">
          <h1>Bem vindo(a), {{user.login}}</h1>
        </div>

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li class="button-sair"><img src="/img/user-logo.png" alt=""><a class="button-nav" href="/logout">Sair</a></li>
        </ul>
      </nav>
    </header>

    <aside class="aside-main">
        <nav>
            <ul>
                <li><img src="/img/mensalista.png" alt=""><a href="/mensalistas">Mensalistas</a></li>
                <li><img src="/img/rotativos.png" alt=""><a href="/rotativos">Rotativos</a></li>
                <li><img src="/img/vaga.png" alt=""><a href="/vagas">Vagas</a></li>
                {{#if user.admin}}
                    <li><img src="/img/users.png" alt=""><a href="/users">Usuários</a></li>
                {{/if}}
            </ul>
        </nav>
    </aside>

    <main class="main">
        <div class="main-group">
            <div>
                <p>Vagas Disponíveis: {{vagasLivres.length}}</p>
                <p>Vagas Ocupadas: {{vagasOcup.length}}</p>
            </div>
            <div>
                <a href="/vagas/adicionar"><img src="/img/add.png" alt=""> Adicionar Vaga</button></a>
                <a href="/vagas/remover"><img src="/img/remove.png" alt=""> Remover Vaga</button></a>
            </div>

        </div> 
          <div class="vagas-container">
          {{#each posts}}
              {{#if situacao}}
              <div class="box-vagas box-vagas-ocup" >
                  {{id}}
              </div>
              {{else}}

              <div class="box-vagas">
                  {{id}}
              </div>
              {{/if}}
          {{/each}}
          </div>
    </main>
</body>
</html>